






.heather_nav {


    display: flex;
    justify-items: space-evenly;


    $color-letra-nav: #6c3057;
    $color-backgroundcolorete: #d1b6b4;
    $footercolor: #d1b6b4;
    $body: #f5eceb;
    $h2h3: #9f5864;
    $lihover: #bb6262;

    li {
        margin: 20px;
        border: solid 1px $h2h3;
        padding: 10px;
        border-radius: 10px;
        align-items: center;
        display: inline;


        a {
            text-decoration: none;
            color: $color-letra-nav;

        &:hover{ background-color: #bb6262;
            transform: rotate(10deg);   }
        }

        li:hover {
            background-color: $lihover;
        }

    }
}

     /*nesting header*/





/*
a {
      text-decoration: none;
      color: #6c3057;
}

.heather_nav {
    display: flex;
    justify-items: space-evenly;

}

.heather_nav_lista {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;

}

li {
    margin: 20px;
    border: solid 1px #9f5864;
    padding: 10px;
    border-radius: 10px;
    align-items: center;


}

li:hover {
    background-color: #bb6262;

}

*/