$color-letra-nav: #6c3057;
$color-backgroundcolorete: #d1b6b4;
$footercolor: #d1b6b4;
$body: #f5eceb;
$h2h3: #9f5864;
$lihover: #bb6262;
$display-flex: flex;

$map: (
  d-flex: flex,
  justify-content: center,
  align-items: center,
);

@mixin nombre-flex($display, $justify-content, $align-items) {
  display: flex;
  justify-content: center;
  align-items: center;
}
